PORT="7000"
NODE_ENV="development"

# Token & Key
TOKEN="f399876e708575af2f74c511c399a14f1db4119d"
SPORTS_TOKEN="8b1559afe326330c3b8de238133b6f9396deb115"
APP_SECRET="b9386078bc1c31ff8dc1861c096aabcd09772816"
REFRESH_TOKEN_SECRET="3ae08236b2442d8b23d10fcdd72a415dc92dc9c5"
ACCESS_TOKEN_SECRET="f4d24d3c6b214fa69ed61711f270c1d86c9fd1b6"

# Database
DEV_DATABASE_URL="mongodb+srv://devkbin:GQXJUj5za2tUu6cv@cluster0.cyfho4w.mongodb.net/sports?retryWrites=true&w=majority"

# URL
CORS_ORIGINS="http://localhost:3000,http://localhost:3001"
BACKEND_URL="http://localhost:8080"
FRONTEND_URL="http://localhost:3000"


# Redis
REDIS_URL="rediss://red-d4sga5hr0fns73a5op6g:imgSfHLAaOhigYZt1mwHPYmwBkyNii8v@oregon-keyvalue.render.com:6379"
REDIS_KEY_PREFIX="mavi-football"

# Cache Server

CACHE_SERVER_URL_RAPID="https://cdn.cnfzone.com/football-v3/"
CACHE_SERVER_URL_SPORTMONK="https://cdn.cnfzone.com/api/sm-football/v3"
CACHE_SERVER_URL_SPORTMONK_V4="https://cdn.cnfzone.com/api/sm-football/v4"

CACHE_SERVER_TOKEN="HSC9mDQJjstIkdmlsrwDhcx8msWlg"

# Sport Monk
SPORTMONKS_FOOTBALL_URL="https://api.sportmonks.com/v3/football"
SPORTMONKS_TOKEN="y10NeXWGi57UP8i3P4UwgU7jCwyeVrIK32H526MrpFEnRtUMBqBpDjtEuaTK"

# Rapid Api
RAPID_API_CRICKET_URL="https://cricbuzz-cricket.p.rapidapi.com"
RAPID_API_KEY="6145aad6ecmshd8251a496cfaab9p1d1c4cjsn03be12698bcf"
RAPID_API_HOST="cricbuzz-cricket.p.rapidapi.com"


RAPID_API_HOST_FOOTBALL="api-football-v1.p.rapidapi.com"
RAPID_API_FOOTBALL_URL="https://api-football-v1.p.rapidapi.com/v3"

# Email
MAIL_USERNAME="f0493409@gmail.com"
MAIL_PASSWORD="krlvlruwshfymdxl"

# Cloudinary
CLOUDINARY_UPLOAD_PRESET="devkbin"
CLOUDINARY_CLOUD_NAME="dsygf8ebj"
CLOUDINARY_API_KEY="832185699953611"
CLOUDINARY_API_SECRET="tjW3TB8ZRGah_AugrUGxkWSVljs"